
<div class="col-md-6 col-md-offset-3">
	<div class="panel panel-default">
		<div class="panel-body">
			<!-- login form -->
			<form class="form form-login" ng-submit="changePassword(user)"
				name="chpwdForm">
				<h2 align="center" class="form-heading">Change password</h2>

				<!-- current password -->
				<label for="inputCurrentPassword" class="sr-only">Current
					password</label> <input type="password" id="inputCurrentPassword"
					class="form-control" placeholder="Current password" required="true"
					autofocus="false" style="margin-bottom: 20px;"
					ng-model="user.currentpassword">
				<!-- /current password -->

				<!-- new password -->
				<label for="inputPassword" class="sr-only">Password</label> <input
					type="password" id="inputPassword"
					class="form-control form-input-top" placeholder="New password"
					required="true" ng-model="user.newpassword">
				<!-- /new password -->

				<!-- confirm password -->
				<label for="inputConfirm" class="sr-only">Confirm</label> <input
					type="password" id="inputConfirm"
					class="form-control form-input-bottom" placeholder="Confirm"
					required="true" autofocus="false" ng-model="user.confirmpassword"
					compare-to="user.newpassword">
				<!-- /confirm password -->

				<button class="btn btn-lg btn-primary btn-block"
					style="margin: 20px 0px;" type="submit"
					ng-disabled="!chpwdForm.$valid">Change</button>
			</form>
			<!-- .login form -->
		</div>
	</div>
</div>