<div class="col-md-6 col-md-offset-3">
	<div class="panel panel-default">
		<div class="panel-body">
			<!-- login form -->
			<form class="form form-login" ng-submit="login(user, rememberLogin)"
				name="loginForm">
				<h2 align="center" class="form-heading">Login</h2>
				<!-- username -->
				<label for="inputEmail" class="sr-only">Username</label> <input
					type="text" id="inputEmail" class="form-control form-input-top"
					placeholder="Username" required="true" autofocus="true"
					ng-model="user.username">
				<!-- /username -->

				<!-- password -->
				<label for="inputPassword" class="sr-only">Password</label> <input
					type="password" id="inputPassword"
					class="form-control form-input-bottom" placeholder="Password"
					required="true" ng-model="user.password">
				<!-- /password -->
				<div class="checkbox">

					<label> <input type="checkbox" value="remember-me"
						ng-model="rememberLogin"> Remember me
					</label>
				</div>

				<button class="btn btn-lg btn-primary btn-block" type="submit"
					ng-disabled="!loginForm.$valid">Login</button>
			</form>
			<!-- /login form -->

		</div>
	</div>
</div>