
<div class="col-xs-9">
	<h2 class="media-heading">
		<a ng-href="#/posts/{{post.post_id}}">{{post.title}}</a>
	</h2>
</div>

<!-- edit, active/deactive and delete post -->
<div class="col-xs-3" ng-if="!previewFlg && post.user_id == currentUser.user_id">
	<div class="owner-control">
		<!-- remove post -->
		<a ng-click="deletePost(post)"><span data-toggle="tooltip"
			title="Remove" data-placement="left"
			class="glyphicon glyphicon-trash pull-right nav-icon"></span></a>
		<!-- /remove post -->

		<!-- edit post -->
		<a ng-href="#/edit_post/{{post.post_id}}"><span data-toggle="tooltip" title="Edit" data-placement="left"
			class="glyphicon glyphicon-pencil pull-right nav-icon"></span></a>
		<!-- /edit post -->

		<!-- active post -->
		<a ng-if="!post.public_time" ng-click="activeDeactivePost(post, true)"><span
			data-toggle="tooltip" title="Active" data-placement="left"
			class="glyphicon glyphicon-arrow-up pull-right nav-icon"></span></a>
		<!-- /active post -->

		<!-- deactive post -->
		<a ng-if="post.public_time" ng-click="activeDeactivePost(post, false)"><span
			data-toggle="tooltip" title="Deactive" data-placement="left"
			class="glyphicon glyphicon-arrow-down pull-right nav-icon"></span></a>
		<!-- /deactive post -->
	</div>
</div>
<!-- /edit, active/deactive and delete post -->

