
<!-- navigation -->
<div ng-include="'partials/right-nav.html'"
	class="col-md-3 col-md-push-9"></div>
<!-- /navigation -->

<!-- main contain -->
<!-- <div ng-class="isLogged? 'col-md-9 col-md-pull-3' : 'col-md-12'"> -->
<div class="col-md-9 col-md-pull-3">
	<div class="panel panel-default" ng-if="!posts.length">
		<div class="panel-body">
			<h3 align="center">Don't have any post</h3>
		</div>
	</div>
	<div class="panel panel-default" ng-repeat="post in posts">
		<div class="panel-body">
			<div class="media">
				<div class="media-left">
					<a ng-href="#/users/{{post.user_id}}"><img
						data-holder-rendered="true"
						ng-src="{{users[post.user_id].avatarlink}}"
						class="media-object avatar"> </a>
				</div>
				<div class="media-body">

					<!-- post title -->
					<div class="row" ng-include="'partials/post_title.html'"></div>
					<!-- /post title -->

					<p>
						<span class="glyphicon glyphicon-time"></span> Created on
						{{post.create_time}} by <a ng-href="#/users/{{post.user_id}}">{{users[post.user_id].username}}</a>
					</p>
				</div>
				<hr>
				{{post.description}}
			</div>
		</div>
	</div>
</div>
