<!-- navigation -->
<div ng-include="'partials/right-nav.html'"
	class="col-md-3 col-md-push-9"></div>
<!-- /navigation -->

<!-- main content -->
<div class="col-md-9 col-md-pull-3">

	<div class="panel panel-default">
		<div class="panel-body">
			<!-- add post form -->
			<form class="form form-register" ng-submit="processForm(post)"
				name="postForm">
				<h2 align="center" class="form-heading">New post</h2>
				<label for="inputTitle" class="sr-only">Title</label> <input
					id="inputTitle" class="form-control" placeholder="Title"
					required="true" autofocus="true" ng-model="post.title"> <label
					for="inputDescription" class="sr-only">Description</label> <input
					id="inputDescription" class="form-control"
					placeholder="Description" required="true" autofocus="true"
					ng-model="post.description">

				<!-- html formater -->
				<summernote config="options" ng-model="post.content" required="true"></summernote>
				<!-- /html formater -->

				<div class="row">
					<div class="col-md-6">
						<a class="btn btn-lg btn-primary btn-block"
							ng-disabled="!postForm.$valid" href="#/preview_post"
							ng-click="previewPost(post)">Preview</a>
					</div>
					<div class="col-md-6">
						<button class="btn btn-lg btn-primary btn-block"
							ng-disabled="!postForm.$valid" type="submit">{{submit_title}}</button>
					</div>
				</div>
			</form>
			<!-- /add post form -->
		</div>
	</div>
</div>