<link href="css/fileinput.min.css" media="all" rel="stylesheet"
	type="text/css" />
<script src="js/fileinput.min.js"></script>

<div class="col-md-8 col-md-offset-2">
	<div class="panel panel-default">
		<div class="panel-body">
			<!-- loggin form -->
			<form class="form form-register">
				<h2 align="center" class="form-heading">Register</h2>
				<label for="inputUsername" class="sr-only">Username</label> <input
					id="inputUsername" class="form-control" placeholder="Username"
					required="true" autofocus="true">

				<div class="row" style="margin: -15px -15px;">
					<div class="col-md-6">
						<label for="inputFirstname" class="sr-only">Firstname</label> <input
							id="inputFirstname" class="form-control" placeholder="Firstname"
							required="true" autofocus="false">
					</div>
					<div class="col-md-6">
						<label for="inputLastname" class="sr-only">Lastname</label> <input
							id="inputLastname" class="form-control" placeholder="Lastname"
							required="true" autofocus="false">
					</div>
				</div>

				<input id="fileUploader" name="uploadedFile" type="file"
					accept="image/*">

				<div class="row">
					<div class="col-md-6">
						<label for="inputPassword" class="sr-only">Password</label> <input
							type="password" id="inputPassword" class="form-control"
							placeholder="Password" required="true">
					</div>
					<div class="col-md-6">
						<label for="inputConfirm" class="sr-only">Confirm</label> <input
							type="password" id="inputConfirm" class="form-control"
							placeholder="Confirm" required="true">
					</div>
				</div>
				<button class="btn btn-lg btn-primary btn-block btn-register"
					type="submit">Register</button>
			</form>
			<!-- .loggin form -->
		</div>
	</div>
</div>