.navbar-default {
  background-color: #438ed6;
  border-color: #477ba4;
}
.navbar-default .navbar-brand {
  color: #d7e5e7;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #869492;
}
.navbar-default .navbar-text {
  color: #d7e5e7;
}
.navbar-default .navbar-nav > li > a {
  color: #d7e5e7;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #869492;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #869492;
  background-color: #477ba4;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #869492;
  background-color: #477ba4;
}
.navbar-default .navbar-toggle {
  border-color: #477ba4;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #477ba4;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #d7e5e7;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #d7e5e7;
}
.navbar-default .navbar-link {
  color: #d7e5e7;
}
.navbar-default .navbar-link:hover {
  color: #869492;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #d7e5e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #869492;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #869492;
    background-color: #477ba4;
  }
}

.full-width{
	width: 100%;
}

.show{
	display: block !important;
}

.hide{
	display: none !important;
}

.dropdown-menu{
	background-color: #438ED6;
}

.dropdown-menu>li>a{
	color: #d7e5e7;
}

.dropdown-menu>li>a:hover{
	color: #869492;
	background-color: #438ED6;
}

.body{
  margin-top: 86px;
}

.nav-icon{
  margin-right: 5px;
}

body{
  background-color: #E9EAED;
}

.form {
  padding: 15px;
  margin: 0 auto;
}

.form-loggin {
  max-width: 330px;
}

.form-register {
  max-width: 550px;
}

.form-register {
  max-width: 720px;
}

.form .form-heading,
.form .checkbox {
  margin-bottom: 10px;
}
.form .checkbox {
  font-weight: normal;
}
.form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form .form-control:focus {
  z-index: 2;
}

.form-input-top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-input-button {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-register input{
  margin: 20px 0px;
}

.form-register button{
  margin: 15px 0px;
}   

.form-register a{
  margin: 15px 0px;
}

#editor {
  overflow:scroll;
  max-height:300px;
}

img.avatar{
  width: 64px;
  height: 64px;
  border: 1px solid;
  border-color: #000;
  border-radius: f5px;
}

#description{
  font-weight: bold;
}

.sub-comment {
  margin-left: 75px !important;
}

.panel-post div.panel{
  background-color: #dafaca;
}

.panel-user div.panel{
  background-color: #f08686;
}

button.upload {
  margin-top: 20px;
  padding: 11px;
}
 
/*.input-comment {
  width: 100%;
  position: relative;
  display: inline-block;
}

button.icon{
 position:relative;
 bottom: 00px;
 left: 90px;
}*/